@media (min-width: 640px) {
    /* Header and Nav */
    h1 {
        font-size: 2rem;
        margin-left: 5px;
    }

    #hamburger {
        display: none;
    }

    nav ul.menuLinks, nav ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: var(--nav-hover);
        color: var(--background-color);
    }

    #animation {
        grid-template-rows: 1fr;
    }

    .search {
        flex-direction: row;
        margin: 30px 0px;
    }

    .search-input {
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px 0px 0px 5px;
    }

    .search-btn {
        margin: 0px;
        border: 2px solid rgba(0, 0, 0, 0);
        border-left: none;
        border-radius: 0px 5px 5px 0px;
    }


    /* POKEMON PAGE */
    /* Filters */
    .filters {
        flex-direction: row;
    }

    .filter-flex {
        margin: 0;
    }

    .card-reviews {
        flex-direction: row;
        align-items: center;
        padding: 1rem 1.5rem;
    }

    .title-content {
        flex: 1;
        text-align: start;
        margin-right: 40px;
        word-break: break-word;
    }

    .buttons-container {
        flex-direction: column;
        gap: 10px;
    }

    /* Modals */
    .division-1 {
        flex-direction: row;
    }

    .division-2 {
        flex-direction: row;
    }

    #modal-image {
        max-width: 300px;
    }

    .autocomplete-dropdown {
        width: 48%;
    }

    /* COMPARE PAGE */
    .vs-divider img {
        margin-top: 30px;
    }

    .compare-card .search {
        margin: 0 0 30px 0;
    }

    /* TRIVIA PAGE */
    .image-layout {
        grid-template-columns: 1fr 1fr;
    }

    .quiz-start-buttons {
        flex-direction: row;
    }
}

@media (min-width: 800px) {
    .compare-container {
        flex-direction: row;
    }
}

@media (max-width: 1257px) {
    .carousel-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #prevBtn, #nextBtn {
        display: none;
    }

    .single-result {
        grid-column: 1/4;
    }

    .not-found {
        grid-column: 1/4;
    }

    #modal-image {
        max-width: 270px;
    }
}

@media (max-width: 820px) {
    .carousel-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .single-result {
        grid-column: 1/3;
    }

    .not-found {
        grid-column: 1/3;
    }

    #modal-image {
        max-width: 220px;
    }

    .autocomplete-dropdown {
        width: 65%;
    }
}

@media (max-width: 540px) {
    .carousel-container {
        grid-template-columns: 1fr;
    }

    .carousel {
        display: block;
    }

    .pokemon {
        max-width: 300px;
        margin: 10px auto;
    }

    .pokemon img {
        height: 300px;
    }

    #modal-image {
        max-width: 180px;
    }

    .compare-card .pokemon {
        max-width: 250px;
    }

    .compare-card .pokemon img {
        height: 250px;
    }
}
