:root {
    --teste: #5ba324c5;
    --primary: #72ca2fbd;
    --active: #5ba3244b;
    --nav-hover: #5ba32498;
    --button: #9c1d1d;
    --hover: #9c1d1dc2;
    --font-main: 'Merriweather', serif;
    --font-title: "Arvo", serif;
    --text: #333;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font-main);
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
    background: url('../images/wallpaper/poke-wpp1.avif') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}


/* Header Styles */
header {
    background-color: var(--primary);
    color: #000000c9;
    padding: 10px;
}

.logo {
    display: grid;
    grid-template-columns: 80px auto 44px;
}

h1 {
    font-family: var(--font-title);
    align-self: center;
}


/* Nav Styles */
nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    background-color: white;
    margin-bottom: 20px;
}

nav ul li a {
    display: block;
    padding: .50rem 2vw;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--basic-white);
    cursor: pointer;
    width: 100%;
    padding: .15rem 2vw;
    align-self: center;
}

ul.menuLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.active a { background-color: var(--active); }
#hamburger::before { content: "="; }
#hamburger.open::before { content: "X"; }
nav ul { overflow: hidden; }
nav.open { grid-template-rows: 1fr; }
nav.open ul.menuLinks a:hover { background-color: var(--nav-hover); }


/* Main Styles */
main {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.hero, .quiz-start { text-align: center; }

h2 {
    font-family: var(--font-title);
    margin-top: 5px;
}

/* Search and Buttons */
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.search-input {
    padding: 0.5rem;
    width: 100%;
    max-width: 250px;
    min-width: 150px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.search-btn, .see-more, .close-modal, #start-compare-btn, #restart-btn, #next-btn, .start-btn, #favorite-btn, .go-favorite-btn {
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 10px 0px;
    border-radius: 5px;
    background: var(--button);
}

button:hover, .search-btn:hover, .close-modal:hover, #start-compare-btn:hover, #restart-btn:hover, #next-btn:hover, .start-btn:hover, .go-favorite-btn:hover {
    background-color: var(--hover);
}

.close-modal, #favorite-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

/* Features and Introduction */
.featured, .introduction {
    border-top: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}

.introduction ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border: 2px solid rgba(0, 0, 0, 0.603);
    border-radius: 5px;
    padding: 0;
    margin: auto;
}

.introduction ul li {
    padding: 10px 5px;
    
}

.introduction ul li.zebra {
    background-color: rgb(230, 230, 230);
}

.ppp { font-family: var(--font-title); }

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--active);
}

.carousel-container {
    justify-items: center;
}

#prevBtn { margin: 0px 10px 0px 0px; border-radius: 20px; }
#nextBtn { margin: 0px 0px 0px 10px; border-radius: 20px; }

#prevBtn, #nextBtn {
    background-color: var(--button);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Pokemon Display */
.pokemon {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    max-width: 200px;
    min-width: 200px;
    margin: 9px;
    scroll-snap-align: center;
}
.pokemon img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon img:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.pokemon h3 {
    flex-grow: 1;
    font-family: var(--font-title);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 10px 0;
}

/* POKEMON PAGE */
/* Filters */
.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background: #e9e9e9;
    border: 2px solid rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.filter-flex {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.filters select {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.not-found {
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem;
    color: #a00;
    font-weight: bold;
}


/* Modals */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 700px;
    margin: 0;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    text-align: center;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
}

.modal::backdrop { background: rgba(0, 0, 0, 0.5); }

.division-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #9c1d1d83;
    gap: 10px;
}

.division-1 div {
    justify-self: center;
    margin: auto;
}

.division-2 {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 2px solid #9c1d1d83;
}

#modal-image {
    max-width: 180px;
    height: auto;
    padding: 20px;
    background: var(--active);
    border: 2px solid rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#modal-stats {
    max-width: 300px;
    margin: auto;
    padding: 10px 70px;
    background: #e9e9e9;
    border: 2px solid rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#modal-stats ul, .stat-list, .options-list {
    list-style-type: none;
    padding: 0;
}

.description-div {
    margin: auto;
    max-width: 300px;
}

.description-div h3 {
    margin: 5px 0;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#favorite-btn.fav-btn-add { 
    background-color: #7CE12F;
    color: var(--text);
}
#favorite-btn.fav-btn-add:hover { 
    background-color: #7ce12fc7; 
}

#favorite-btn.fav-btn-remove {
    background-color: #FFB820;
    color: var(--text);
}
#favorite-btn.fav-btn-remove:hover {
    background-color: #ffb820b7;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Dropdown */
.auto-search {
    position: relative;
}

.autocomplete-dropdown {
    position: absolute;
    top: 100%;
    width: 80%;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.suggestion-item:hover {
    background-color: #f2f2f2;
}

/* COMPARE PAGE */
.comp-hero {
    padding-top: 20px;
}

.compare-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.compare-card {
    display: flex;
    flex-direction: column;
}

.compare-card .carousel-container {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.vs-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pokemon-display-1 { background-color: rgba(252, 67, 61, 0.24); }
#pokemon-display-2 { background-color: rgba(5, 119, 212, 0.24); }

#start-compare-btn.disabled, #next-btn.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    pointer-events: none;
}

.stat-list li { padding: 2px; }
.stat-higher { background-color: rgba(0, 202, 0, 0.61); }
.stat-higher::after { content: "↑"; }
.stat-lower { background-color: rgba(255, 0, 0, 0.61); }
.stat-lower::after { content: "↓"; }
.stat-equal { background-color: rgba(255, 255, 0, 0.61); }
.stat-equal::after { content: "="; }

/* TRIVIA PAGE */
.quiz-start {
    padding: 20px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: #e9e9e9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.quiz-start h3 { margin: 0; }
.start-btn { width: 150px; }

.quiz-start-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.trivia-container { padding: 10px; }
#question-text { margin: 20px 0; }

.quiz-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--active);
}

.options-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.options-list li {
    padding: 10px;
    background: #e9e9e9;
    border: 2px solid rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.options-list li:hover {
    background: #cacaca;
}

.image-layout {
    justify-items: center;
}

.image-option {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 200px;
}

.image-option img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#next-btn {
    max-width: 200px;
    width: 200px;
    border: 2px solid rgba(255, 255, 255, 0.664);
}

.feedback {
    margin: 10px 0;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--active);
}

.hidden {
    display: none;
}

/* FAVORITES PAGE */
.favorite-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.go-favorite-btn {
    font-family: var(--font-title);
    width: 300px;
    max-width: 250px;
    background-image: linear-gradient(to right, #7CE12F,  #FFB820);
    color: var(--text);
}

.go-favorite-btn:hover {
    background-image: linear-gradient(to right, #7ce12fce,  #ffb820d0);
}


/* Footer Styles */
footer {
    font-family: var(--font-title);
    text-align: center;
    padding: 10px;
    background-color: var(--primary);
    font-weight: bold;
    margin-top: 20px;
}

footer p {
    color: var(--text);
    line-height: 1rem;
}
